@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro";
  src: url(../public/assets/Fonts/SF-Pro.ttf);
}

body {
  font-family: "SF-Pro";
  background-color: #111827;
  text-align: center;
}
