@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro";
  src: url(../public/assets/Fonts/SF-Pro.ttf);
}

body {
  font-family: "SF-Pro";
  text-align: center;
  background-color: #121212;
}

/*body {*/
/*  background: linear-gradient(300deg, #323232, #2d2d2d, #000000, #2d2d2d);*/
/*  background-size: 240% 240%;*/
/*  animation: gradient-animation 24s ease infinite;*/
/*  min-height: 100vh;*/
/*}*/
/**/
/*@keyframes gradient-animation {*/
/*  0% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*  50% {*/
/*    background-position: 100% 50%;*/
/*  }*/
/*  100% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*}*/
